*.o
*.so
*~
bin
*.bin
*.jar
simulator/.project
simulator/.cache
simulator/.classpath

convx86/fpu/autotest

*.cmi
*.cmo
compiler/lexer.ml
compiler/parser.ml
compiler/parser.mli
compiler/min-caml
compiler/min-caml.top
compiler/virtual.ml
compiler/libmincaml.S
compiler/shootout/Makefile
compiler/bytemark/Makefile
compiler/min-rt/globals.s
compiler/test/*.s
compiler/test/*.bin
compiler/test/*.ans
compiler/test/*.res
compiler/test/*.cmp
compiler/._bcdi
compiler/._d

asm/asm
convx86/disasm
